@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-100:#1c8f67;
  --primary-90:#2fa47b;
  --secondary-100:#141414;
  --secondary-90:#2b312f;
  --secondary-80:#363f3c;
  --secondary-70:#454b49;
}
*{
  font-family: "Poppins";
  color: var(--secondary-100);
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
main{
  height: 100%;
}