.showDropdown{
    overflow: hidden;
    height:50px;
    padding: 0.75rem;
    transition: all 1s ease-in-out;
}
.hideDropdown{
    overflow: hidden;
    height: 0px;
    padding: 0px 0.75rem;
    transition: all 1s ease-in-out;
}